html, body {
  height: 100%;
  width: 100%;
  background-color: red;
}


/* Styling on Page 1*/
ol.a {
  list-style-type: upper-roman;
}

ol.b{
  list-style-type: lower-roman;
}

ol.b > li:nth-child(odd) {
  background-color: lightcoral;
}

/* Table styling on page 2 */
table, th, td {
  border:1px solid black;
  font-family: Georgia, serif;
  font-size: 1.5em;
}

th{
  color: white;
  background-color: black;
}

td{
  color: gold;
}

table{
  margin-left: auto;
  margin-right: auto;
}

.table {
  text-align: center;
}
.table > ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.table > ol {
  list-style-type: decimal;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: inline-block;
}

/* Nav Bar Styling */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: transparent;
}

li a {
  display: block;
  color: black;
  padding: 8px 8px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: red;
  color: white;
}

/* Footer Styling */
footer{
  
}

/* Start of grid styling */
header {
  grid-area: header;
  background-color: white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

nav {
  grid-area: menu;
  background-color: white;
  font-size: 15px;
 }

main{
  grid-area: main;
  background-color: white;
  align-self: start;
}

footer{
  grid-area: footer;
  background-color: white;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-areas:
    'banner banner banner'
    'header header header'
    'menu main main'
    'footer footer footer';
    grid-gap: 5px;
    background-color: transparent;
    align-content: space-between;
}

/* Additional Styling Tags */
h1{
  color: blue;
}

h2{
  color: blueviolet
}

p{
  color: red;
}